main{
    text-align: center;
    padding: 35px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);
    border-radius: 15px;
}

section{
    text-align: left;
    letter-spacing: 0.3px;
    line-height: 25px;
}

img{
    width: 250px;
    height: 250px;
}