body{
    color: azure;
    font-family: 'Courier New', Courier, monospace;

    background: linear-gradient(to right, #000000, #3a0252, #690881)
}

h1 {
    font-family: Courier New;
    color: rgb(113, 41, 180);
    text-align: start;
}

header {
    text-align: end;
    color: azure;
}

main > h2 {
    text-align: center;
}

header > a {
    color: #b985c5;
    text-decoration: none;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;    
}

