body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#nova-tarefa {
    padding: 10px;
    font-size: 1.2em;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#lista-tarefas {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 300px;
}

#lista-tarefas li {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#lista-tarefas li button {
    background-color: #f44336;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}
